{% block body %}
    <h1>Анализ изображений на сайте</h1>

    {{ form_start(form) }}
    {{ form_row(form.url) }}
    <button type="submit" class="btn btn-primary">Анализировать</button>
    {{ form_end(form) }}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    {% if imagesData is not empty %}
        <h2>Результаты:</h2>
        <p>Общий вес изображений: {{ totalSize }} MB</p>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Изображение</th>
                <th>Размер (MB)</th>
            </tr>
            </thead>
            <tbody>
            {% for image in imagesData %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ image.url }}" target="_blank">{{ image.url }}</a></td>
                    <td>{{ image.size|number_format(2, '.', ',') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
